.terms-jumbotron {
  background-image: url("https://res.cloudinary.com/trizept/image/upload/v1628817191/samples/PHPLA%20-%20WebP/terms-jumbotron_bzcvwn.webp");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.terms-jumbotron-text {
  margin: 0 auto;
  color: white;
  font-family: 'Amatic SC', serif;
  font-size: 84px;
  text-align: center;
  text-shadow: 2px 2px black;
}
